.slot {
  height: 28px;
  width: 57px;

  &__text {
    color: $slot-color;
    display: none;
    font-family: $font-family-light;
    font-size: 22px;
    text-align: center;
  }

  &--type-primary {
    background-color: $slot-primary-bg-color;

    &.slot--hover,
    &.slot--active {
      border-radius: $slot-border-radius;

      .slot__text {
        display: block;
      }
    }

    &.slot--hover {
      background-color: $slot-primary-hover-bg-color;
    }

    &.slot--active {
      background-color: $slot-primary-active-bg-color;
    }
  }

  &--type-secondary {
    background-color: $slot-secondary-bg-color;
    border-radius: 0;

    &.slot--hover {
      background-color: $slot-secondary-hover-bg-color;
    }

    &.slot--active {
      background-color: $slot-secondary-active-bg-color;
    }
  }
}
