.slot {
  height: $slot-height;
  position: relative;

  &__button {
    background-color: transparent;
    border-radius: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &:hover {
      background-color: $slot-primary-hover-bg-color;
    }

    &:active {
      background-color: $slot-primary-active-bg-color;
    }
  }

  &__text {
    color: $slot-color;
    font-family: $font-family-light;
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--type-primary {
    background-color: $slot-primary-bg-color;

    .slot__button {
      border-radius: $slot-border-radius;
    }

    &:hover,
    &.slot--hover {
      z-index: 10;

      .slot__button {
        background-color: $slot-primary-hover-bg-color;
        display: block;
      }
    }

    &:active,
    &.slot--active {
      z-index: 10;

      .slot__button {
        background-color: $slot-primary-active-bg-color;
        display: block;
      }
    }
  }

  &--type-secondary {
    background-color: $slot-secondary-bg-color;

    .slot__button {
      border-radius: 0;
    }

    .slot__text {
      display: none;
    }

    &:hover,
    &.slot--hover {
      z-index: 10;

      .slot__button {
        background-color: $slot-secondary-hover-bg-color;
        display: block;
      }
    }

    &:active,
    &.slot--active {
      z-index: 10;

      .slot__button {
        background-color: $slot-secondary-active-bg-color;
        display: block;
      }
    }
  }

  @mixin cursor;
  @mixin outline;
  @mixin disabled;
}
