.page {
  &--elements {
    padding-top: 27px;
    padding-bottom: 39px;

    .container {
      padding-left: 80px;

      &--id-1 {
        padding-bottom: 13px;

        .grid__item-title {
          padding-bottom: 11px;
        }
      }

      &--id-3 {
        padding-bottom: 15px;
      }
    }
  }
}
