// Common
$bg-color: #FFFFFF;
$shadow-color: #E9ECEF;
$shadow-width: 1px;
$outline: none;

// Images
$image-arrow-left-url: "../images/arrow-left.svg";
$image-arrow-right-url: "../images/arrow-right.svg";
$image-arrow-down-url: "../images/arrow-down.svg";
$image-arrow-up-url: "../images/arrow-up.svg";
$image-close-url: "../images/close.svg";
$image-close-white-url: "../images/close-white.svg";
$image-edit-url: "../images/edit.svg";

// Fonts
$font-family-light: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
$font-family-regular: HelveticaNeue, Helvetica, Arial, sans-serif;
$font-family-medium: "HelveticaNeue-Medium", Helvetica, Arial, sans-serif;
$font-family-bold: "HelveticaNeue-Bold", Helvetica, Arial, sans-serif;
$font-family: $font-family-regular;

// Fix
$fix-padding-top: 4px;
$fix-padding-bottom: 3px;

// Header
$header-bg-color: $bg-color;
$header-height: calc(71px + $fix-padding-top);
$header-padding-top: calc(18px + $fix-padding-top);
$header-padding-left: 24px;
$header-padding-right: 24px;
$header-padding-bottom: 17px;
$header-shadow-color: $shadow-color;
$header-shadow-width: $shadow-width;

// Footer
$footer-bg-color: $bg-color;
$footer-height: calc(76px + $fix-padding-bottom);
$footer-padding-top: 20px;
$footer-padding-left: 20px;
$footer-padding-right: 20px;
$footer-padding-bottom: calc(20px + $fix-padding-bottom);
$footer-shadow-color: $shadow-color;
$footer-shadow-width: $shadow-width;

// Grid
$content-lg-width: 1000px;
$content-md-width: 896px;

$container-padding-x: 12px;
$container-padding-top: 0px; // 10px;
$container-padding-bottom: 14px;
$container-lg-width: calc($content-lg-width + 2 * $container-padding-x);
$container-md-width: calc($content-md-width + 2 * $container-padding-x);
$container-bg-color: $bg-color;
$container-bg-color-light: #E9ECEF;
$container-bg-color-lighter: rgba(73, 76, 83, 0.02);
$container-title-color: #C7C7C7;

$grid-padding-top: 0px; // 10px;
$grid-padding-bottom: 0px; // 4px;
$grid-padding-x: 16px;
$grid-padding-offset-x: 40px;

// Button
$button-bg-color: #E9ECEF;
$button-border-radius: 4px;
$button-color: #000000;
$button-disabled-color: rgba(0, 0, 0, 0.2);
$button-font-family: $font-family-medium;

$button-xs-font-size: 9px;
$button-xs-line-height: 10px;
$button-xs-height: 24px;
$button-xs-padding-top: 4px;
$button-xs-padding-bottom: 4px;
$button-xs-padding-x: 10px;

$button-md-font-size: 13px;
$button-md-line-height: 16px;
$button-md-height: 36px;
$button-md-padding-top: 10px;
$button-md-padding-bottom: 10px;
$button-md-padding-x: 16px;

$button-primary-color: #FFFFFF;
$button-primary-bg-color: #007DFF;
$button-primary-hover-bg-color: #0059FF;
$button-primary-focus-bg-color: #0059FF;
$button-primary-active-bg-color: #0217FE;
$button-primary-disabled-bg-color: #E9ECEF;

$button-secondary-color: $button-color;
$button-secondary-bg-color: #E9ECEF;
$button-secondary-hover-bg-color: #DDE0E4;
$button-secondary-focus-bg-color: #DDE0E4;
$button-secondary-active-bg-color: #C8CDD3;
$button-secondary-disabled-bg-color: #E2E5E8;

// Button-checkbox
$button-checkbox-hover-bg-color: $button-secondary-hover-bg-color;
$button-checkbox-focus-bg-color: $button-secondary-focus-bg-color;
$button-checkbox-active-bg-color: $button-secondary-active-bg-color;
$button-checkbox-disabled-bg-color: $button-secondary-disabled-bg-color;
$button-checkbox-disabled-color: $button-disabled-color;
$button-checkbox-font-family: $button-font-family;
$button-checkbox-border-radius: $button-border-radius;
$button-checkbox-color: $button-color;
$button-checkbox-bg-color: $button-secondary-bg-color;
$button-checkbox-checked-bg-color: $button-primary-bg-color;
$button-checkbox-checked-color: $button-primary-color;
$button-checkbox-checked-button-md-width: $button-md-height;
$button-checkbox-md-height: $button-md-height;
$button-checkbox-md-font-size: $button-md-font-size;
$button-checkbox-md-line-height: $button-md-line-height;
$button-checkbox-md-padding-bottom: $button-md-padding-bottom;
$button-checkbox-md-padding-left: 10px;
$button-checkbox-md-padding-right: $button-md-padding-x;
$button-checkbox-md-padding-top: $button-md-padding-top;

// Button-group
$button-group-item-margin-bottom: 8px;

// Calendar

// Datepicker
$datepicker-font-family: $font-family-medium;
$datepicker-font-size: 15px;

// Event-item
$event-item-title-font-family: $font-family-bold;
$event-item-title-font-size: 15px;
$event-item-title-letter-spacing: 0;
$event-item-title-line-height: 24px;
$event-item-title-min-height: 24px;

$event-item-text-font-family: $font-family;
$event-item-text-font-size: 13px;
$event-item-text-letter-spacing: 0;
$event-item-text-line-height: 17px;
$event-item-text-margin-top: 3px;
$event-item-text-margin-bottom: 14px;

// Image

// Input
$input-label-font-size: 13px;
$input-label-font-family: $font-family-bold;

$input-border-color: #E9ECEF;
$input-border-radius: 4px;
$input-border-width: 2px;
$input-placeholder-color: #858E98;

$input-md-font-size: 13px;
$input-md-line-height: 15px;
$input-md-letter-spacing: 0.47px;
$input-md-height: 38px;
$input-md-padding-top: 11px;
$input-md-padding-bottom: 12px;
$input-md-padding-left: 8px;
$input-md-padding-right: calc($input-md-height - 2 * $input-border-width);

$input-lg-font-size: 15px;
$input-lg-line-height: 17px;
$input-lg-letter-spacing: 0.55px;
$input-lg-height: 44px;
$input-lg-padding-top: 13px;
$input-lg-padding-bottom: 14px;
$input-lg-padding-left: 10px;
$input-lg-padding-right: calc($input-lg-height - 2 * $input-border-width);

$input-hover-border-color: #007DFF;
$input-focus-border-color: #007DFF;

// Input-group
$input-group-separator-font-family: $font-family-bold;
$input-group-separator-padding-left: 4px;
$input-group-separator-padding-right: 4px;

$input-group-separator-md-font-size: $input-md-font-size;
$input-group-separator-md-height: $input-md-height;
$input-group-separator-md-line-height: $input-md-line-height;
$input-group-separator-md-letter-spacing: $input-md-letter-spacing;
$input-group-separator-md-padding-top: $input-md-padding-top;
$input-group-separator-md-padding-bottom: $input-md-padding-bottom;

$input-group-separator-lg-font-size: $input-lg-font-size;
$input-group-separator-lg-height: $input-lg-height;
$input-group-separator-lg-line-height: $input-lg-line-height;
$input-group-separator-lg-letter-spacing: $input-lg-letter-spacing;
$input-group-separator-lg-padding-top: $input-lg-padding-top;
$input-group-separator-lg-padding-bottom: $input-lg-padding-bottom;

// Input-select
$input-select-label-font-size: $input-label-font-size;
$input-select-label-font-family: $input-label-font-family;

$input-select-border-color: $input-border-color;
$input-select-border-radius: $input-border-radius;
$input-select-border-width: $input-border-width;
$input-select-placeholder-color: $input-placeholder-color;

$input-select-md-font-size: $input-md-font-size;
$input-select-md-line-height: $input-md-line-height;
$input-select-md-letter-spacing: $input-md-letter-spacing;
$input-select-md-height: $input-md-height;
$input-select-md-padding-top: $input-md-padding-top;
$input-select-md-padding-bottom: $input-md-padding-bottom;
$input-select-md-padding-left: $input-md-padding-left;
$input-select-md-padding-right: $input-md-padding-right;

$input-select-lg-font-size: $input-lg-font-size;
$input-select-lg-line-height: $input-lg-line-height;
$input-select-lg-letter-spacing: $input-lg-letter-spacing;
$input-select-lg-height: $input-lg-height;
$input-select-lg-padding-top: $input-lg-padding-top;
$input-select-lg-padding-bottom: $input-lg-padding-bottom;
$input-select-lg-padding-left: $input-lg-padding-left;
$input-select-lg-padding-right: $input-lg-padding-right;

$input-select-hover-border-color: $input-hover-border-color;
$input-select-focus-border-color: $input-focus-border-color;

// Link
$link-color: inherit;
$link-hover-color: #0070E0;
$link-focus-color: #0070E0;
$link-active-color: #1D54FE;
$link-disabled-color: #858E98;

// Modal
$modal-z-index: 99;
$modal-backdrop-bg-color: rgba(0, 16, 33, 0.40);

$modal-body-bg-color: $bg-color;
$modal-body-shadow-color: rgba(0, 44, 92, 0.28);
$modal-body-border-radius: 8px;
$modal-body-padding-top: 32px;
$modal-body-padding-left: 62px;
$modal-body-padding-right: 62px;
$modal-body-padding-bottom: 92px;
$modal-body-width: 444px;
$modal-body-min-height: 228px;
$modal-body-margin-left: 4px;

$modal-title-margin-top: 13px;
$modal-title-margin-bottom: 9px;

$modal-content-font-size: 15px;
$modal-content-letter-spacing: 0;
$modal-content-line-height: 17px;
$modal-content-p-margin-top: 0;
$modal-content-p-margin-bottom: 5px;

$modal-footer-padding-top: 24px;
$modal-footer-padding-left: 62px;
$modal-footer-padding-right: 62px;
$modal-footer-padding-bottom: 32px;
$modal-footer-min-height: 92px;

// Room-item
$room-item-body-padding-top: 4px;
$room-item-body-padding-bottom: 4px;
$room-item-title-color: inherit;
$room-item-title-hover-color: #0070E0;
$room-item-title-focus-color: #0070E0;
$room-item-title-active-color: #1D54FE;
$room-item-title-disabled-color: #858E98;
$room-item-title-font-family: $font-family-medium;
$room-item-title-font-size: 15px;
$room-item-title-line-height: 17px;
$room-item-text-font-size: 13px;
$room-item-text-line-height: 17px;
$room-item-text-disabled-color: #858E98;
$room-item-content-bg-color: #D5DFE9;

// Rooms-list
$rooms-list-title-font-family: $font-family-bold;
$rooms-list-title-font-size: 11px;
$rooms-list-title-color: #858E98;
$rooms-list-title-letter-spacing: 0.4px;
$rooms-list-title-padding-bottom: 5px;
$rooms-list-body-padding-bottom: 12px;
$rooms-list-item-margin-bottom: 8px;

// Slot
$slot-color: #FFFFFF;
$slot-border-radius: 2px;
$slot-height: 28px;

$slot-primary-bg-color: $bg-color;
$slot-primary-hover-bg-color: #1D54FE;
$slot-primary-focus-bg-color: #1D54FE;
$slot-primary-active-bg-color: #1D00FE;

$slot-secondary-bg-color: #D5DFE9;
$slot-secondary-hover-bg-color: #98A9B9;
$slot-secondary-focus-bg-color: #98A9B9;
$slot-secondary-active-bg-color: #8594A2;

// Timeline
$timeline-item-color: #252525;
$timeline-item-disabled-color: #858E98;
$timeline-item-font-family: $font-family-bold;
$timeline-item-font-size: 11px;
$timeline-item-letter-spacing: 0.4px;
$timeline-item-line-height: 46px;
$timeline-item-height: 100%;
$timeline-item-width: 5.882353%;
$timeline-item-text-line-height: 20px;
$timeline-item-text-height: 20px;
$timeline-item-text-width: 50px;

// Tooltip
$tooltip-bg-color: $bg-color;
$tooltip-border-radius: 8px;
$tooltip-box-shadow-color: rgba(0, 44, 92, 0.28);
$tooltip-padding-top: 14px;
$tooltip-padding-left: 16px;
$tooltip-padding-right: 16px;
$tooltip-padding-bottom: 16px;
$tooltip-min-height: 113px;
$tooltip-width: 338px;
$tooltip-z-index: 15;

// User-item
$user-item-bg-color: #E9ECEF;
$user-item-content-color: #858E98;
$user-item-border-radius: 12px;
$user-item-font-size: 13px;
$user-item-line-height: 13px;
$user-item-height: 24px;
$user-item-line-height: 22px;
$user-item-min-width: 142px;
$user-item-padding-top: 0;
$user-item-padding-left: 32px;
$user-item-padding-right: 32px;
$user-item-padding-bottom: 0;

// Users-list
$users-list-margin-top: 12px;

$users-list-item-margin-top: 0;
$users-list-item-margin-left: 0;
$users-list-item-margin-right: 8px;
$users-list-item-margin-bottom: 8px;
