.user-item {
  display: inline-block;
  background-color: $user-item-bg-color;
  border-radius: $user-item-border-radius;
  height: $user-item-height;
  line-height: $user-item-line-height;
  min-width: $user-item-min-width;
  padding-top: $user-item-padding-top;
  padding-left: $user-item-padding-left;
  padding-right: $user-item-padding-right;
  padding-bottom: $user-item-padding-bottom;
  position: relative;

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $user-item-border-radius;
    height: $user-item-height;
    left: 0;
    position: absolute;
    top: 0;
    width: $user-item-height;
  }

  &__name,
  &__content {
    display: inline-block;
    font-size: $user-item-font-size;
    line-height: $user-item-line-height;
  }

  &__content {
    color: $user-item-content-color;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 4px;
  }

  &--button-false {
    .user-item__button {
      display: none;
    }
  }

  &--transparent {
    background-color: transparent;
  }

  @mixin outline;
  @mixin disabled;
}
