.user-item {
  display: inline-block;
  background-color: #E9ECEF;
  border-radius: 16px;
  min-height: 24px;
  min-width: 142px;
  padding: 4px 32px 3px 32px;
  position: relative;

  &__image {
    background-color: #E9ECEF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
  }

  &__name {
    font-size: 13px;
    line-height: 17px;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 4px;
  }

  &--hover {
    .user-item__button {
      .button__text {
        background-image: url($image-close-hover-url);
      }
    }
  }

  @mixin outline;
  @mixin disabled;
}
