.button {
  position: relative;
  border: none;

  &--round {
    border-radius: 12px;
    height: 24px;
    padding: 0;
    width: 24px;
  }

  &--transparent {
    background-color: transparent;
  }

  &--type-close {
    .button__text {
      background-image: url($image-close-url);
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 100%;
    }
  }

  &--type-edit {
    background-color: #E9ECEF;

    .button__text {
      background-image: url($image-edit-url);
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      opacity: 0.43;
      width: 100%;
    }
  }

  &--hover {
    &.button--type-close {
      .button__text {
        background-image: url($image-close-hover-url);
      }
    }
  }

  &--focused {
    &.button--type-edit {
      .button__text {
        opacity: 1;
      }
    }
  }
}
