.page {
  &--elements {
    padding-top: 27px;
    padding-bottom: 39px;

    .slot {
      width: 57px;
    }

    .container {
      padding-top: 10px;
      padding-bottom: 25px;
      padding-left: 80px;

      .grid__item {
        &-title {
          margin-top: 10px;
        }
      }

      &--id-1 {
        padding-bottom: 23px;

        .grid__item-title {
          margin-bottom: 11px;
        }
      }

      &--id-2,
      &--id-4,
      &--id-5,
      &--id-6 {
        padding-bottom: 28px;
      }

      &--id-7 {
        padding-top: 11px;
        padding-bottom: 16px;

        .grid__item {
          padding-right: 100px;
          padding-bottom: 12px;
        }

        .grid__item-title {
          margin-bottom: 18px;
        }

        .grid__item:nth-child(5) {
          .grid__item-title {
            margin-top: 12px;
            margin-bottom: 11px;
          }

          .input {
            max-width: 328px;
          }
        }
      }

      &--id-8 {
        padding-bottom: 28px;
      }
    }
  }
}
