.page {
  &--elements {
    padding-top: 27px;
    padding-bottom: 39px;

    .slot {
      width: 57px;
    }

    .container {
      padding-left: 80px;

      &--id-1 {
        padding-bottom: 9px;

        .grid__item-title {
          padding-bottom: 11px;
        }
      }

      &--id-3 {
        padding-bottom: 11px;
      }

      &--id-6 {
        .button {
          min-width: 140px;
        }
      }

      &--id-7 {
        padding-top: 11px;

        .grid__item {
          padding-right: 100px;
        }

        .grid__item-title {
          padding-bottom: 17px;
        }

        .container__row:nth-child(1) {
          .grid__item {
            padding-bottom: 12px;
          }
        }

        .container__row:nth-child(3) {
          .grid__item {
            padding-right: 192px;
          }

          .grid__item-title {
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}
