.page {
  &--index {
    padding-top: $page-index-padding-top;

    .header {
      height: $page-index-header-height;
    }

    .body {
      display: flex;

      &__sidebar {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        min-height: calc(100vh - $page-index-header-height - $page-index-padding-top);
        width: 245px;

        &-header {
          background-color: #fff;
          box-shadow: inset 0 -$header-shadow-width 0 0 $header-shadow-color;
          min-height: 46px;
          height: 46px;
          padding: 10px 24px;
        }

        &-body {
          position: relative;
          padding: 22px 0 22px 25px;
          height: 100%;
          z-index: 1;

          &::after {
            box-shadow: $header-shadow-width 0 0 0 $header-shadow-color;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 1px;
            z-index: 2;
          }
        }
      }

      &__main {
        width: calc(100% - 245px);
        overflow: hidden;
        min-height: calc(100vh - $page-index-header-height - $page-index-padding-top);

        &-header {
          background-color: #fff;
          box-shadow: inset 0 -$header-shadow-width 0 0 $header-shadow-color;
          height: 46px;
          margin-left: -3.188406%; // -33px
          margin-right: -5.120773%; // -53px
          z-index: 1;
        }

        &-body {
          background-color: #F6F7F9;
          height: 100%;
          z-index: -1;
        }
      }
    }
  }
}
