.input {
  position: relative;

  &__label {
    display: block;
    font-family: $input-label-font-family;
    font-size: $input-label-font-size;
    margin-bottom: 5px;
    letter-spacing: 0;
  }

  &__control {
    border-color: $input-border-color;
    border-style: solid;
    border-radius: $input-border-radius;
    border-width: $input-border-width;
    width: 100%;
    -webkit-font-smoothing: antialiased;

    &::placeholder {
      color: $input-placeholder-color;
    }
  }

  &__button {
    display: none;
    position: absolute;
    right: 2px;
    bottom: 0;
  }

  &--size-md {
    .input__control {
      font-size: $input-md-font-size;
      height: $input-md-height;
      line-height: $input-md-line-height;
      letter-spacing: $input-md-letter-spacing;
      padding-bottom: $input-md-padding-bottom;
      padding-left: $input-md-padding-left;
      padding-right: $input-md-padding-right;
      padding-top: $input-md-padding-top;
    }

    .input__button {
      bottom: 1px;
    }
  }

  &--size-lg {
    .input__control {
      font-size: $input-lg-font-size;
      height: $input-lg-height;
      line-height: $input-lg-line-height;
      letter-spacing: $input-lg-letter-spacing;
      padding-bottom: $input-lg-padding-bottom;
      padding-left: $input-lg-padding-left;
      padding-right: $input-lg-padding-right;
      padding-top: $input-lg-padding-top;
    }

    .input__button {
      bottom: 4px;
    }
  }

  &--hover {
    .input__control {
      border-color: $input-hover-border-color;
    }
  }

  &--focus {
    .input__control {
      border-color: $input-focus-border-color;
    }

    .input__button.button--icon-arrow-down {
      display: block;
    }

    &.input--opened {
      .input__button.button--icon-arrow-down {
        display: none;
      }

      .input__button.button--icon-arrow-up {
        display: block;
      }
    }
  }

  &--filled {
    .input__button.button--icon-close {
      display: block;
    }
  }
}
