.input {
  position: relative;

  &__label {
    display: block;
    font-family: $input-label-font-family;
    font-size: $input-label-font-size;
    margin-bottom: 5px;
    letter-spacing: 0;
    line-height: 1;
  }

  &__button {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__container {
    position: relative;
  }

  &__control {
    border-color: $input-border-color;
    border-style: solid;
    border-radius: $input-border-radius;
    border-width: $input-border-width;
    width: 100%;
    -webkit-font-smoothing: antialiased;

    &::placeholder {
      color: $input-placeholder-color;
    }

    &--size-md {
      font-size: $input-md-font-size;
      height: $input-md-height;
      line-height: $input-md-line-height;
      letter-spacing: $input-md-letter-spacing;
      padding-bottom: $input-md-padding-bottom;
      padding-left: $input-md-padding-left;
      padding-right: $input-md-padding-left;
      padding-top: $input-md-padding-top;

      & ~ .input__button {
        bottom: 1px;
      }
    }

    &--size-lg {
      font-size: $input-lg-font-size;
      height: $input-lg-height;
      line-height: $input-lg-line-height;
      letter-spacing: $input-lg-letter-spacing;
      padding-bottom: $input-lg-padding-bottom;
      padding-left: $input-lg-padding-left;
      padding-right: $input-lg-padding-left;
      padding-top: $input-lg-padding-top;

      & ~ .input__button {
        bottom: 4px;
      }
    }

    &:hover,
    &--hover {
      border-color: $input-hover-border-color;
    }

    &:focus,
    &--focus {
      border-color: $input-focus-border-color;

      & ~ .input__button.button--icon-close {
        display: none;
      }

      &.input__control--type-select {
        &.input__control--size-md {
          padding-right: $input-md-padding-right;
        }

        &.input__control--size-lg {
          padding-right: $input-lg-padding-right;
        }

        & ~ .input__button.button--icon-arrow-down {
          display: block;
        }

        &.input__control--opened {
          & ~ .input__button.button--icon-arrow-down {
            display: none;
          }

          & ~ .input__button.button--icon-arrow-up {
            display: block;
          }
        }
      }
    }

    &--filled {
      &:not(:focus):not(&--focus) {
        &.input__control--size-md {
          padding-right: $input-md-padding-right;
        }

        &.input__control--size-lg {
          padding-right: $input-lg-padding-right;
        }

        & ~ .input__button.button--icon-close {
          display: block;
        }
      }
    }

    @mixin outline;
    @mixin disabled;
  }

  &__users-list {
    margin-top: 12px;
  }
}
