.room-item {
  padding: 4px 0;
  
  &__title {
    font-family: $font-family-medium;
    font-size: 15px;
    line-height: 17px;
  }

  &__text {
    font-size: 13px;
    line-height: 17px;
    height: 17px;
    margin-top: 2px;
  }

  &--hover {
    .room-item__title {
      font-family: $font-family-bold;
      color: #0070E0;
    }
  }

  &--active {
    .room-item__title {
      font-family: $font-family-bold;
      color: #1D54FE;
    }
  }

  &--disabled {
    .room-item__title {
      font-family: $font-family-medium;
      color: #858E98;
      -webkit-font-smoothing: antialiased;
    }

    .room-item__text {
      color: #858E98;
      -webkit-font-smoothing: antialiased;
    }
  }
}
