.room-item {
  &__title {
    font-family: $room-item-title-font-family;
    font-size: $room-item-title-font-size;
    line-height: $room-item-title-line-height;
  }

  &__text {
    font-size: $room-item-text-font-size;
    line-height: $room-item-text-line-height;
    margin-top: 2px;
  }

  &:disabled,
  &--disabled {
    .room-item__text {
      color: $room-item-text-disabled-color;
      -webkit-font-smoothing: antialiased;
    }
  }

  @mixin outline;
  @mixin disabled;
}
