.room-item {
  position: relative;

  &__body {
    padding-top: $room-item-body-padding-top;
    padding-bottom: $room-item-body-padding-bottom;
    z-index: 1;
  }

  &__title {
    color: $room-item-title-color;
    font-family: $room-item-title-font-family;
    font-size: $room-item-title-font-size;
    line-height: $room-item-title-line-height;
  }

  &__text {
    font-size: $room-item-text-font-size;
    line-height: $room-item-text-line-height;
    margin-top: 2px;
  }

  &__content {
    background-color: $room-item-content-bg-color;
    display: none;
    position: absolute;
    left: 100%;
    top: 7px;
    height: $slot-height;
    width: calc(100vw - 245px);
  }

  &__slot {
    width: calc(100% * 66 / 1035);

    &:first-child {
      width: calc(100% * (66 - 34) / 1035);
    }

    &:last-child {
      width: calc(100% * (66 - 53) / 1035);
    }
  }

  &--content-true {
    .room-item__content {
      display: flex;
    }
  }

  &:hover:not(:disabled):not(&--disabled),
  &--hover:not(:disabled):not(&--disabled) {
    .room-item__title {
      color: $room-item-title-hover-color;
      text-decoration: none;
    }
  }

  &:active:not(:disabled):not(&--disabled),
  &--active:not(:disabled):not(&--disabled) {
    .room-item__title {
      color: $room-item-title-active-color;
    }
  }

  &:focus:not(:disabled):not(&--disabled),
  &--focus:not(:disabled):not(&--disabled) {
    .room-item__title {
      color: $room-item-title-focus-color;
    }
  }

  &:disabled,
  &--disabled {
    .room-item__title {
      color: $room-item-title-disabled-color;
      -webkit-font-smoothing: antialiased;
    }

    .room-item__text {
      color: $room-item-text-disabled-color;
      -webkit-font-smoothing: antialiased;
    }
  }


  &__time,
  &__room,
  &__text-separator,
  &__floor {
    display: none;
  }

  &--type-short {
    .room-item__body {
      padding: 0;
    }

    .room-item__title,
    .room-item__capacity {
      display: none;
    }

    .room-item__time,
    .room-item__room,
    .room-item__text-separator,
    .room-item__floor {
      display: inline;
    }

    .room-item__text {
      margin: 0;
      font-family: $font-family;
    }

    .room-item__time {
      font-family: $font-family-bold;
      margin-right: 12px;
    }
  }
}
