.datepicker {
  display: flex;
  justify-content: space-between;

  &__link {
    font-family: $datepicker-font-family;
    font-size: $datepicker-font-size;
    letter-spacing: 0;
    line-height: 23px;
  }
}
