<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><block name="title"></block></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/styles/styles.css">
  <include src="blocks/button/button.post.html"></include>
  <include src="blocks/button-group/button-group.post.html"></include>
  <include src="blocks/calendar/calendar.post.html"></include>
  <include src="blocks/datapicker/datapicker.post.html"></include>
  <include src="blocks/input/input.post.html"></include>
  <include src="blocks/input-group/input-group.post.html"></include>
  <include src="blocks/image/image.post.html"></include>
  <include src="blocks/link/link.post.html"></include>
  <include src="blocks/modal/modal.post.html"></include>
  <include src="blocks/room-item/room-item.post.html"></include>
  <include src="blocks/rooms-list/rooms-list.post.html"></include>
  <include src="blocks/slot/slot.post.html"></include>
  <include src="blocks/timeline/timeline.post.html"></include>
  <include src="blocks/tooltip/tooltip.post.html"></include>
  <include src="blocks/user-item/user-item.post.html"></include>
  <include src="blocks/users-list/users-list.post.html"></include>
</head>
<body>
  <block name="content"></block>
  <script src="/assets/scripts/build.js"></script>
</body>
</html>
